
.task-form {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.task-form input,
.task-form textarea,
.task-form select {
    padding: 6px; 
    margin-right: 10px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1; 
}

.task-form textarea {
    flex: 2; 
}

.task-form button {
    padding: 6px 10px; 
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; 
}

.task-form button:hover {
    opacity: 0.8;
}